---
BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: CaseInsensitive
PointerAlignment: Left
Standard: c++20
